/* Todo priority colorings */
div.ui.segment.high {
    background-color:#ffcece;
}

div.ui.segment.medium {
    background-color:#ffe4ce;
}

div.ui.segment.low {
    background-color:#fffdce;
}

body {
    font-family: 'Raleway', sans-serif;
}
