<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>


<body>
    <div style="margin-top: 50px; width: 600px" class="ui container">
        <h1 class="ui center aligned header" style="font-family: 'Raleway', sans-serif;">THINGS TO DO</h1>

        <!-- Form for adding todos -->
        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="add todo...">
                <input type="text" name="priority" placeholder="high, medium, or low">
                <br>
            </div>
            <button class="ui blue button" type="submit" style="font-family: 'Raleway', sans-serif;">Add</button>
            <a class="ui gray button" href="/deleteall" style="font-family: 'Raleway', sans-serif;">Delete completed</a>
        </form>

        <hr>
        <!-- Using template syntax to insert logic and stored values into html -->
        <!-- Rendering each todo -->
        {% for key,todo in todo_list.items() %}

        <div class="ui segment {{ todo.priority }}">
            <p>{{ todo.title }}</p>

            {% if todo.complete == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <!-- Action buttons  -->
            {% if todo.complete == False %}
            <a class="ui blue button" href="/update/{{ todo.id }}">Mark as Complete</a>
            {% else %}
            <a class="ui blue button" href="/update/{{ todo.id }}">Mark as Incomplete</a>
            {% endif %}
            <a class="ui red button" href="delete/{{ todo.id }}">Delete</a>
        </div>
        
        {% endfor %}
    </div>

</body>

</html>